.know-more {
  position: relative;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: #BF0426;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #DEDEDE;
  -webkit-box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  left: 3rem;
  top: 7px;
}

.know-more::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 1) 50%, rgba(150, 4, 31, 1) 50%, rgba(191, 4, 38, 1) 60%);
  border-radius: 0 0 0.5em 0;
  -webkit-box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.know-more:hover::before {
  width: 1.6em;
  height: 1.6em;
}

.know-more:active {
  -webkit-box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0.1em, 0.1em);
  -ms-transform: translate(0.1em, 0.1em);
  transform: translate(0.1em, 0.1em);
}

.book-link {
  color: white;
}

/* Media query */

@media (max-width: 928px) {
  .know-more {
    position: relative;
    font-size: 13px;
  }
}

@media (max-width: 510px) {
  .know-more {
    top: 66px;
    left: -74px;
  }
}